<a href="https://colab.research.google.com/github/sswayansidha/Data-Manipulation-using-Python/blob/main/Read_Files_%26_Defining_Table_to_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

**Defining Data**

In [2]:
data = {'product_name': ['laptop', 'printer', 'tablet', 'desk', 'chair'],
        'price': [1200, 150, 300, 450, 200]
        }

df = pd.DataFrame(data)

print (df)

  product_name  price
0       laptop   1200
1      printer    150
2       tablet    300
3         desk    450
4        chair    200

In [3]:
print("Sumedha")

Sumedha