<a href="https://colab.research.google.com/github/sswayansidha/Data-Manipulation-using-Python/blob/main/Read_Files_%26_Defining_Table_to_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

**Defining Data**

In [2]:
data = {'product_name': ['laptop', 'printer', 'tablet', 'desk', 'chair'],
        'price': [1200, 150, 300, 450, 200]
        }

df = pd.DataFrame(data)

print (df)

  product_name  price
0       laptop   1200
1      printer    150
2       tablet    300
3         desk    450
4        chair    200

**Read from Local computer to colab notebook**

In [3]:
from google.colab import files
uploaded = files.upload()

Saving Sample Data.xlsx to Sample Data.xlsx

In [4]:
import io
df1 = pd.read_excel(io.BytesIO(uploaded["Sample Data.xlsx"]))

In [5]:
df1

  ORDERNUMBER  QUANTITYORDERED
0     A_10107               30
1     A_10121               34
2     A_10134               41
3     A_10145               45
4     A_10159               49
5     A_10168               36
6     A_10180               29
7     A_10188               48

**Load data from UCI**

In [6]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [7]:
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [9]:
column_headers = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class_name']

In [10]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None, names=column_headers)
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width      class_name
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

**Load Kaggle dataset to colab**
>Reference: https://www.analyticsvidhya.com/blog/2021/06/how-to-load-kaggle-datasets-directly-into-google-colab/